<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Main Header for the views-->
        <meta charset="utf-8" />
        <title>Team Spacebar</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <!--Start of page body-->
    <body>
        <header>
            <!--This is where the site logo goes-->
            <div class="content-wrapper">
                <div class="float-left">
                        <div class="site-title"><img src="~/Images/logo.png" /></div>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <!--Menu items for navigation-->
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Profile", "Profile", "Home")</li>
                            <li>@Html.ActionLink("Play Game", "Board", "Home")</li>
                            <li>@Html.ActionLink("How to Play", "HowToPlay", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <!--This is where the body of the other pages is rendered-->
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <!--This is where all the changes to the footer need to go-->
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@DateTime.Now.Year Team Spacebar</p>
                    <p>***NOTE: All images used in this website are property of their respected schools/organizations.***</p>
                    <p>***This website was created for educational purposes only, and is not intended for profit***</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
